
.card-containers{
    /* display: flex; */
    margin: 0 auto;
    /* justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box; */
}
.card-containers:hover{
    color: rgba(0, 0, 0, 0.363);
    transition: .5s;
}
.cards{
    max-width: 245px;
    box-sizing: border-box;
}
.img-style{
    width: 100%;
}
.paragraph p{
    text-align: center;
    background-color: cadetblue;
    justify-content: center;
    padding: 20px 5px;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    /* position: absolute; */
}